.weathericone {
  display: block;
  margin: 0 auto;
   width: 75%;
}

.status {
  text-transform: capitalize;
  margin: 0 auto;

}
@media (max-width: 767px) {
  .weathericone {
    width: 40% !important;
  }
}
